In [46]:
import pandas as pd
df=pd.read_json('nobel_winners.json')
df

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,Ivo Andric *,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961
2,Bosnia and Herzegovina,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,Vladimir Prelog *,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
3,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,Institut de Droit International,None,None,"Institut de Droit International , Peace, 1904",1904
4,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   born_in         1052 non-null   object
 1   category        1052 non-null   object
 2   country         1052 non-null   object
 3   date_of_birth   1044 non-null   object
 4   date_of_death   1044 non-null   object
 5   gender          1040 non-null   object
 6   link            1052 non-null   object
 7   name            1052 non-null   object
 8   place_of_birth  1044 non-null   object
 9   place_of_death  1044 non-null   object
 10  text            1052 non-null   object
 11  year            1052 non-null   int64
dtypes: int64(1), object(11)
memory usage: 98.8+ KB

In [48]:
df.describe()

              year
count  1052.000000
mean   1968.729087
std      33.155829
min    1809.000000
25%    1947.000000
50%    1975.000000
75%    1996.000000
max    2014.000000

In [49]:
df.describe(include='object')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052
unique,40,7,59,853,563,2,893,998,735,410,1043
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,César Milstein,,,"Ernest Rutherford , born in New Zealand , Che..."
freq,910,250,350,4,362,982,4,2,29,409,2

In [50]:
df.describe(include='all')

,born_in,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
count,1052,1052,1052,1044,1044,1040,1052,1052,1044,1044,1052,1052.000000
unique,40,7,59,853,563,2,893,998,735,410,1043,NaN
top,,Physiology or Medicine,United States,7 November 1867,,male,http://en.wikipedia.org/wiki/Michael_Levitt,César Milstein,,,"Ernest Rutherford , born in New Zealand , Che...",NaN
freq,910,250,350,4,362,982,4,2,29,409,2,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.729087
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.155829
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1809.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000

In [51]:
df = df.set_index('name')
# df = df.reset_index()
df.head(2)

,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,,
César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [52]:
df.reset_index(inplace=True)
df.head(2)

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,Ivo Andric *,Bosnia and Herzegovina,Literature,,9 October 1892,13 March 1975,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961

In [53]:
df.columns

Index(['name', 'born_in', 'category', 'country', 'date_of_birth',
       'date_of_death', 'gender', 'link', 'place_of_birth', 'place_of_death',
       'text', 'year'],
      dtype='object')

In [57]:
df.name.describe()

count               1052
unique               998
top       César Milstein
freq                   2
Name: name, dtype: object

In [59]:
type(df.name)

pandas.core.series.Series

In [60]:
df.count()

name              1052
born_in           1052
category          1052
country           1052
date_of_birth     1044
date_of_death     1044
gender            1040
link              1052
place_of_birth    1044
place_of_death    1044
text              1052
year              1052
dtype: int64

In [75]:
# mask = df.year > 2013
# mask = (df.year > 2013) & (df.category == 'Physics') # 遮罩
mask = (df.year >= 2000) & (df.year <= 2010) &  (df.category == 'Economics')
df[mask]

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
32,Christopher A. Pissarides,,Economics,Cyprus,1948-02-20,,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,"Nicosia, Cyprus",,"Christopher A. Pissarides , Economics, 2010",2010
93,Daniel Kahneman,,Economics,Israel,"March 5, 1934",,male,http://en.wikipedia.org/wiki/Daniel_Kahneman,"Tel Aviv, Israel",,"Daniel Kahneman , Economics, 2002",2002
96,Robert Aumann,,Economics,Israel,"June 8, 1930",,male,http://en.wikipedia.org/wiki/Robert_Aumann,"Frankfurt am Main , Germany",,"Robert Aumann , born in Germany , Economics, ...",2005
438,Daniel L. McFadden,,Economics,United States,"July 29, 1937",,male,http://en.wikipedia.org/wiki/Daniel_L._McFadden,"Raleigh, North Carolina",,"Daniel L. McFadden , Economics, 2000",2000
439,James J. Heckman,,Economics,United States,19 April 1944,,male,http://en.wikipedia.org/wiki/James_J._Heckman,"Chicago, Illinois, USA",,"James J. Heckman , Economics, 2000",2000
445,A. Michael Spence,,Economics,United States,"November 7, 1943",,male,http://en.wikipedia.org/wiki/A._Michael_Spence,"Montclair, New Jersey",,"A. Michael Spence , Economics, 2001",2001
446,George A. Akerlof,,Economics,United States,"June 17, 1940",,male,http://en.wikipedia.org/wiki/George_A._Akerlof,"New Haven, Connecticut",,"George A. Akerlof , Economics, 2001",2001
447,Joseph E. Stiglitz,,Economics,United States,"February 9, 1943",,male,http://en.wikipedia.org/wiki/Joseph_E._Stiglitz,"Gary, Indiana, USA",,"Joseph E. Stiglitz , Economics, 2001",2001
456,Vernon L. Smith,,Economics,United States,1927-01-01,,male,http://en.wikipedia.org/wiki/Vernon_L._Smith,"Wichita, Kansas",,"Vernon L. Smith , Economics, 2002",2002
457,Daniel Kahneman,,Economics,United States,"March 5, 1934",,male,http://en.wikipedia.org/wiki/Daniel_Kahneman,"Tel Aviv, Israel",,"Daniel Kahneman , born in Israel , Economics,...",2002
461,Robert F. Engle,,Economics,United States,"November 10, 1942",,male,http://en.wikipedia.org/wiki/Robert_F._Engle,"Syracuse, New York , U.S.",,"Robert F. Engle , Economics, 2003",2003
469,Edward C. Prescott,,Economics,United States,"December 26, 1940",,male,http://en.wikipedia.org/wiki/Edward_C._Prescott,"Glens Falls, New York",,"Edward C. Prescott , Economics, 2004",2004
473,Thomas Schelling,,Economics,United States,14 April 1921,,male,http://en.wikipedia.org/wiki/Thomas_Schelling,"Oakland, California , USA",,"Thomas Schelling , Economics, 2005",2005
476,Robert Aumann,,Economics,United States,"June 8, 1930",,male,http://en.wikipedia.org/wiki/Robert_Aumann,"Frankfurt am Main , Germany",,"Robert Aumann , born in Germany , Economics, ...",2005
480,Edmund S. Phelps,,Economics,United States,"July 26, 1933",,male,http://en.wikipedia.org/wiki/Edmund_S._Phelps,"Evanston, Illinois",,"Edmund S. Phelps , Economics, 2006",2006
486,Roger B. Myerson,,Economics,United States,1951-03-29,,male,http://en.wikipedia.org/wiki/Roger_B._Myerson,"Boston , Massachusetts",,"Roger B. Myerson , Economics, 2007",2007
487,Eric S. Maskin,,Economics,United States,"December 12, 1950",,male,http://en.wikipedia.org/wiki/Eric_S._Maskin,"New York City, New York USA",,"Eric S. Maskin , Economics, 2007",2007
488,Leonid Hurwicz,,Economics,United States,1917-08-21,2008-06-24,male,http://en.wikipedia.org/wiki/Leonid_Hurwicz,"Moscow , Russia","Minneapolis, Minnesota , United States","Leonid Hurwicz , born in Russia , Economics, ...",2007
493,Paul Krugman,,Economics,United States,"February 28, 1953",,male,http://en.wikipedia.org/wiki/Paul_Krugman,"Albany, New York, USA",,"Paul Krugman , Economics, 2008",2008
503,Oliver Eaton Williamson,,Economics,United States,"September 27, 1932",,male,http://en.wikipedia.org/wiki/Oliver_Eaton_Will...,"Superior, Wisconsin",,"Oliver Eaton Williamson , Economics, 2009",2009
504,Elinor Ostrom,,Economics,United States,"August 7, 1933","June 12, 2012",female,http://en.wikipedia.org/wiki/Elinor_Ostrom,"Los Angeles, U.S.","Bloomington, Indiana , U.S.","Elinor Ostrom , Economics, 2009",2009
507,Dale T. Mortensen,,Economics,United States,"February 2, 1939","January 9, 2014",male,http://en.wikipedia.org/wiki/Dale_T._Mortensen,"Enterprise, Oregon, USA","Wilmette, Illinois","Dale T. Mortensen , Economics, 2010",2010
508,Peter A. Diamond,,Economics,United States,"April 29, 1940",,male,http://en.wikipedia.org/wiki/Peter_A._Diamond,"New York, New York",,"Peter A. Diamond , Economics, 2010",2010
589,Clive W. J. Granger *,United Kingdom,Economics,,4 September 1934,27 May 2009,male,http://en.wikipedia.org/wiki/Clive_W._J._Granger,"Swansea, UK","San Diego, California, United States","Clive W. J. Granger *, Economics, 2003",2003
695,Leonid Hurwicz *,Russia,Economics,,1917-08-21,2008-06-24,male,http://en.wikipedia.org/wiki/Leonid_Hurwicz,"Moscow , Russia","Minneapolis, Minnesota , United States","Leonid Hurwicz *, Economics, 2007",2007
721,Leonid Hurwicz,,Economics,Poland,1917-08-21,2008-06-24,male,http://en.wikipedia.org/wiki/Leonid_Hurwicz,"Moscow , Russia","Minneapolis, Minnesota , United States","Leonid Hurwicz , born in then Russian Republi...",2007
736,Finn E. Kydland,,Economics,Norway,1943-12-01,,male,http://en.wikipedia.org/wiki/Finn_E._Kydland,Ålgård,,"Finn E. Kydland , Economics, 2004",2004

In [76]:
df.born_in.describe()

count     1052
unique      40
top
freq       910
Name: born_in, dtype: object

In [77]:
df[df.born_in == '']

,name,born_in,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
3,Institut de Droit International,,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
4,Auguste Beernaert,,Peace,Belgium,26 July 1829,6 October 1912,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
5,Maurice Maeterlinck,,Literature,Belgium,29 August 1862,6 May 1949,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
6,Henri La Fontaine,,Peace,Belgium,22 April 1854,14 May 1943,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,Brian P. Schmidt,,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1048,Carlos Saavedra Lamas,,Peace,Argentina,"November 1, 1878","May 5, 1959",male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
1049,Bernardo Houssay,,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
1050,Luis Federico Leloir,,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
1051,Adolfo Pérez Esquivel,,Peace,Argentina,"November 26, 1931",,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [80]:
import numpy as np #abc          replace('ab','AB')
df.born_in.replace('',np.nan,inplace=True) # df.欄位.replace('舊值','新值')  欄位必須與舊值完全符合才會執行
df.born_in.describe()

count         142
unique         39
top       Germany
freq           21
Name: born_in, dtype: object

In [82]:
mask4=df.name.str.contains('\*')
df[mask4].name

1                   Ivo Andric *
2              Vladimir Prelog *
14               Simon Kuznets *
15              Menachem Begin *
16                Shimon Peres *
                  ...
1034            Martin Karplus *
1035    William Lawrence Bragg *
1039    Aleksandr M. Prokhorov *
1041     John Warcup Cornforth *
1046    Elizabeth H. Blackburn *
Name: name, Length: 142, dtype: object

In [88]:
# df.born_in = df.born_in.replace('',np.nan) # df.欄位.replace('舊值','新值')  欄位必須與舊值完全符合才會執行
df.name = df.name.str.replace('*','',regex=True) # df.欄位.str.replace('舊值','新值')  針對欄位中的舊值替換維新值
df.name = df.name.str.strip()
df.name

0                        César Milstein
1                            Ivo Andric
2                       Vladimir Prelog
3       Institut de Droit International
4                     Auguste Beernaert
                     ...
1047                   Brian P. Schmidt
1048              Carlos Saavedra Lamas
1049                   Bernardo Houssay
1050               Luis Federico Leloir
1051              Adolfo Pérez Esquivel
Name: name, Length: 1052, dtype: object

In [92]:
df_bornin=df[~df.born_in.isna()].count()
df_bornin # 將born_in欄位獨立保留

name              142
born_in           142
category          142
country           142
date_of_birth     142
date_of_death     142
gender            140
link              142
place_of_birth    142
place_of_death    142
text              142
year              142
dtype: int64

In [93]:
# df=df.drop('born_in',axis=1) # 刪除born_in欄位
df.columns

Index(['name', 'category', 'country', 'date_of_birth', 'date_of_death',
       'gender', 'link', 'place_of_birth', 'place_of_death', 'text', 'year'],
      dtype='object')

In [104]:
# df[df.name=='César Milstein']
df[df.duplicated('name')].name
mask_dupes = df.name.isin(df[df.duplicated('name')].name)
df[mask_dupes]

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
0,César Milstein,Physiology or Medicine,Argentina,8 October 1927,24 March 2002,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
2,Vladimir Prelog,Chemistry,,"July 23, 1906",1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975
11,Christian de Duve,Physiology or Medicine,Belgium,2 October 1917,4 May 2013,male,http://en.wikipedia.org/wiki/Christian_de_Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
12,Ilya Prigogine,Chemistry,Belgium,25 January 1917,28 May 2003,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
14,Simon Kuznets,Economics,,"April 30, 1901","July 8, 1985",male,http://en.wikipedia.org/wiki/Simon_Kuznets,Pinsk,"Cambridge, Massachusetts","Simon Kuznets *, born in then Russian Empire,...",1971
...,...,...,...,...,...,...,...,...,...,...,...
1039,Aleksandr M. Prokhorov,Physics,,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov *, Physics, 1964",1964
1040,Patrick White,Literature,Australia,28 May 1912,30 September 1990,male,http://en.wikipedia.org/wiki/Patrick_White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
1042,John Harsanyi,Economics,Australia,"May 29, 1920","August 9, 2000",male,http://en.wikipedia.org/wiki/John_Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
1047,Brian P. Schmidt,Physics,Australia,"February 24, 1967",,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,"Missoula, Montana",,"Brian P. Schmidt , born in the United States ...",2011
1050,Luis Federico Leloir,Chemistry,Argentina,1906-9-6,1987-12-2,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970

In [108]:
# df[mask_dupes].sort_values(['name'],ascending=[1])
df[mask_dupes].sort_values(['name','country'],ascending=[1,1])

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
106,Aaron Klug,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
121,Aaron Klug,Chemistry,South Africa,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug , Chemistry, 1982",1982
131,Aaron Klug,Chemistry,United Kingdom,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug , born in Lithuania , Chemistry, 1982",1982
742,Alan MacDiarmid,Chemistry,,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid *, Chemistry, 2000",2000
440,Alan MacDiarmid,Chemistry,United States,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid , born in New Zealand , Chemi...",2000
...,...,...,...,...,...,...,...,...,...,...,...
417,William Vickrey,Economics,United States,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey , born in Canada , Economics,...",1996
773,Yoichiro Nambu,Physics,Japan,"January 18, 1921",,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,"Tokyo, Japan",,"Yoichiro Nambu , Physics, 2008",2008
489,Yoichiro Nambu,Physics,United States,"January 18, 1921",,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,"Tokyo, Japan",,"Yoichiro Nambu , born in Japan , Physics, 2008",2008
1010,Zhores Ivanovich Alferov,Physics,,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov *, born in then Sovi...",2000
692,Zhores Ivanovich Alferov,Physics,Russia,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov , born in then Sovie...",2000

In [112]:
df[mask_dupes].groupby('name').count()

,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
name,,,,,,,,,,
Aaron Klug,3,3,3,3,3,3,3,3,3,3
Alan MacDiarmid,2,2,2,2,2,2,2,2,2,2
Albert Einstein,2,2,2,2,2,2,2,2,2,2
Albert Schweitzer,2,2,2,2,2,2,2,2,2,2
Aleksandr M. Prokhorov,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
William Giauque,2,2,2,2,2,2,2,2,2,2
William Lawrence Bragg,2,2,2,2,2,2,2,2,2,2
William Vickrey,2,2,2,2,2,2,2,2,2,2
Yoichiro Nambu,2,2,2,2,2,2,2,2,2,2
Zhores Ivanovich Alferov,2,2,2,2,2,2,2,2,2,2

In [142]:
df[df.duplicated(['name','year'])].count()
df = df.reindex(np.random.permutation(df.index))
df[mask_dupes].sort_values(['name'],ascending=[1])

C:\Users\Lyumin\AppData\Local\Temp/ipykernel_8560/515986406.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[mask_dupes].sort_values(['name'],ascending=[1])

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
106,Aaron Klug,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
440,Alan MacDiarmid,Chemistry,United States,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid , born in New Zealand , Chemi...",2000
615,Albert Einstein,Physics,Switzerland,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , born in Germany , Physics, ...",1921
38,Albert Schweitzer,Peace,France,14 January 1875,4 September 1965,male,http://en.wikipedia.org/wiki/Albert_Schweitzer,"Kaysersberg , Elsass-Lothringen , Germany (no...","Lambaréné , Gabon","Albert Schweitzer , born in Alsace, then in G...",1952
680,Aleksandr M. Prokhorov,Physics,Russia,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov , born in Australia , ...",1964
...,...,...,...,...,...,...,...,...,...,...,...
270,William Giauque,Chemistry,United States,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque , born in Canada , Chemistry,...",1949
525,William Lawrence Bragg,Physics,United Kingdom,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg , born in Australia , ...",1915
417,William Vickrey,Economics,United States,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey , born in Canada , Economics,...",1996
489,Yoichiro Nambu,Physics,United States,"January 18, 1921",,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,"Tokyo, Japan",,"Yoichiro Nambu , born in Japan , Physics, 2008",2008
692,Zhores Ivanovich Alferov,Physics,Russia,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov , born in then Sovie...",2000

In [143]:
df = df.drop_duplicates(['name','year'])  # drop_duplicates會將後面的資料移除
df = df.sort_index()
df.count()
# df[mask_dupes].sort_values(['name'],ascending=[1])

C:\Users\Lyumin\AppData\Local\Temp/ipykernel_8560/372103567.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[mask_dupes].sort_values(['name'],ascending=[1])

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
106,Aaron Klug,Chemistry,,11 August 1926,,male,http://en.wikipedia.org/wiki/Aaron_Klug,"Želva, Lithuania",,"Aaron Klug *, Chemistry, 1982",1982
440,Alan MacDiarmid,Chemistry,United States,14 April 1927,7 February 2007,male,http://en.wikipedia.org/wiki/Alan_MacDiarmid,"Masterton , New Zealand","Philadelphia , U.S.","Alan MacDiarmid , born in New Zealand , Chemi...",2000
615,Albert Einstein,Physics,Switzerland,1879-03-14,1955-04-18,male,http://en.wikipedia.org/wiki/Albert_Einstein,"Ulm , Baden-Württemberg , German Empire","Princeton, New Jersey , U.S.","Albert Einstein , born in Germany , Physics, ...",1921
38,Albert Schweitzer,Peace,France,14 January 1875,4 September 1965,male,http://en.wikipedia.org/wiki/Albert_Schweitzer,"Kaysersberg , Elsass-Lothringen , Germany (no...","Lambaréné , Gabon","Albert Schweitzer , born in Alsace, then in G...",1952
680,Aleksandr M. Prokhorov,Physics,Russia,11 July 1916,8 January 2002,male,http://en.wikipedia.org/wiki/Aleksandr_M._Prok...,"Atherton, Queensland , Australia","Moscow , Russia","Aleksandr M. Prokhorov , born in Australia , ...",1964
...,...,...,...,...,...,...,...,...,...,...,...
270,William Giauque,Chemistry,United States,"May 12, 1895","March 28, 1982",male,http://en.wikipedia.org/wiki/William_Giauque,"Niagara Falls, Ontario , Canada","Berkeley , California","William Giauque , born in Canada , Chemistry,...",1949
525,William Lawrence Bragg,Physics,United Kingdom,31 March 1890,1 July 1971,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg , born in Australia , ...",1915
417,William Vickrey,Economics,United States,21 June 1914,11 October 1996,male,http://en.wikipedia.org/wiki/William_Vickrey,"Victoria, British Columbia , Canada","Harrison, New York , USA","William Vickrey , born in Canada , Economics,...",1996
489,Yoichiro Nambu,Physics,United States,"January 18, 1921",,male,http://en.wikipedia.org/wiki/Yoichiro_Nambu,"Tokyo, Japan",,"Yoichiro Nambu , born in Japan , Physics, 2008",2008
692,Zhores Ivanovich Alferov,Physics,Russia,1930-03-15,,male,http://en.wikipedia.org/wiki/Zhores_Ivanovich_...,"Vitebsk , BSSR , Soviet Union",,"Zhores Ivanovich Alferov , born in then Sovie...",2000

In [163]:
df[df.year==1809]

Empty DataFrame
Columns: [name, category, country, date_of_birth, date_of_death, gender, link, place_of_birth, place_of_death, text, year]
Index: []

In [162]:
df.loc[958,'year'] = 1939
df.loc[959,'year'] = 1945
df.loc[960,'year'] = 1967
df.describe()

              year
count   904.000000
mean   1968.015487
std      32.246692
min    1901.000000
25%    1946.000000
50%    1974.000000
75%    1995.000000
max    2014.000000

In [169]:
df[df.gender.isna()]

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
3,Institut de Droit International,Peace,Belgium,None,None,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904
156,Friends Service Council,Peace,United Kingdom,None,None,None,http://en.wikipedia.org/wiki/Friends_Service_C...,None,None,"Friends Service Council , Peace, 1947",1947
267,American Friends Service Committee (The Quakers),Peace,United States,None,None,None,http://en.wikipedia.org/wiki/American_Friends_...,None,None,American Friends Service Committee (The Quake...,1947
574,Amnesty International,Peace,United Kingdom,None,None,None,http://en.wikipedia.org/wiki/Amnesty_Internati...,None,None,"Amnesty International , Peace, 1977",1977
632,Médecins Sans Frontières,Peace,Switzerland,None,None,None,http://en.wikipedia.org/wiki/M%C3%A9decins_San...,None,None,"Médecins Sans Frontières , Peace, 1999",1999
650,Ragnar Granit,Physiology or Medicine,Sweden,"October 30, 1900","March 12, 1991",None,http://en.wikipedia.org/wiki/Ragnar_Granit,"Helsinki , Finland","Stockholm , Sweden","Ragnar Granit , born in then Russian Empire, ...",1967
960,Ragnar Granit,Physiology or Medicine,Finland,"October 30, 1900","March 12, 1991",None,http://en.wikipedia.org/wiki/Ragnar_Granit,"Helsinki , Finland","Stockholm , Sweden","Ragnar Granit , born in the Grand Duchy of Fi...",1967
1000,Pugwash Conferences on Science and World Affairs,Peace,Canada,None,None,None,http://en.wikipedia.org/wiki/Pugwash_Conferenc...,None,None,Pugwash Conferences on Science and World Affai...,1995
1033,International Atomic Energy Agency,Peace,Austria,None,None,None,http://en.wikipedia.org/wiki/International_Ato...,None,None,"International Atomic Energy Agency , Peace, 2005",2005

In [178]:
df.loc[650,'gender']='male'
df.loc[989,'gender']='male' # 因亂數移除資料後與老師不同 index為320且性別有資料

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year
47,Alfred Kastler,Physics,France,3 May 1902,7 January 1984,male,http://en.wikipedia.org/wiki/Alfred_Kastler,Guebwiller,"Bandol , France","Alfred Kastler , Physics, 1966",1966
89,Shmuel Yosef Agnon,Literature,Israel,"July 17, 1888","February 17, 1970",male,http://en.wikipedia.org/wiki/Shmuel_Yosef_Agnon,"Buczacz , Galicia ( Buchach , Ukraine )","Jerusalem , Israel","Shmuel Yosef Agnon , born in what was then Au...",1966
319,Francis Peyton Rous,Physiology or Medicine,United States,"October 5, 1879","February 16, 1970",male,http://en.wikipedia.org/wiki/Francis_Peyton_Rous,"Baltimore, Maryland",New York City,"Francis Peyton Rous , Physiology or Medicine, ...",1966
320,Charles B. Huggins,Physiology or Medicine,United States,"September 22, 1901","January 12, 1997",male,http://en.wikipedia.org/wiki/Charles_B._Huggins,"Halifax, Nova Scotia","Chicago, Illinois","Charles B. Huggins , born in Canada , Physiol...",1966
321,Robert S. Mulliken,Chemistry,United States,"June 7, 1896","October 31, 1986",male,http://en.wikipedia.org/wiki/Robert_S._Mulliken,"Newburyport, Massachusetts","Arlington, Virginia","Robert S. Mulliken , Chemistry, 1966",1966
649,Nelly Sachs,Literature,Sweden,10 December 1891,12 May 1970,female,http://en.wikipedia.org/wiki/Nelly_Sachs,"Schöneberg , Berlin",Stockholm,"Nelly Sachs , born in Germany , Literature, 1966",1966

In [171]:
df.drop(960,axis=0,inplace=True)

In [179]:
df[['name','date_of_birth']]

                                 name      date_of_birth
0                      César Milstein     8 October 1927
1                          Ivo Andric     9 October 1892
2                     Vladimir Prelog      July 23, 1906
3     Institut de Droit International               None
4                   Auguste Beernaert       26 July 1829
...                               ...                ...
1045                   Barry Marshall  30 September 1951
1046           Elizabeth H. Blackburn         1948-11-26
1048            Carlos Saavedra Lamas   November 1, 1878
1049                 Bernardo Houssay         1887-04-10
1051            Adolfo Pérez Esquivel  November 26, 1931

[903 rows x 2 columns]

In [194]:
df.date_of_birth=pd.to_datetime(df.date_of_birth,errors='raise')
df.date_of_birth

0      1927-10-08
1      1892-10-09
2      1906-07-23
3             NaT
4      1829-07-26
          ...
1045   1951-09-30
1046   1948-11-26
1048   1878-11-01
1049   1887-04-10
1051   1931-11-26
Name: date_of_birth, Length: 903, dtype: datetime64[ns]

In [195]:
# df[df.date_of_death=='1968-23-07']
# df.loc[150,'date_of_death'] = '1968-07-23'
# df[df.date_of_death=='May 30, 2011 (aged 89)']
# df.loc[349,'date_of_death'] = '2011-05-30'
# df[df.date_of_death=='living']
# df.loc[581,'date_of_death'] = np.nan
# df.loc[809,'date_of_death'] = np.nan
# df.loc[833,'date_of_death'] = np.nan
#df[df.date_of_death=='Diederik Korteweg']
# df.loc[746,'date_of_death'] = '1923-03-08'
df.date_of_death = pd.to_datetime(df.date_of_death,errors='coerce')
df.date_of_death
# pd.to_datetime(df.date_of_death,errors='raise')

0      2002-03-24
1      1975-03-13
2      1998-01-07
3             NaT
4      1912-10-06
          ...
1045          NaT
1046          NaT
1048   1959-05-05
1049   1971-09-21
1051          NaT
Name: date_of_death, Length: 903, dtype: datetime64[ns]

In [199]:
df['award_age']=df.year-pd.DatetimeIndex(df.date_of_birth).year # 建立新欄位 獲獎歲數=獲獎年-生日
df

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year,award_age
0,César Milstein,Physiology or Medicine,Argentina,1927-10-08,2002-03-24,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984,57.0
1,Ivo Andric,Literature,,1892-10-09,1975-03-13,male,http://en.wikipedia.org/wiki/Ivo_Andric,"Dolac (village near Travnik), Austria-Hungary ...","Belgrade, SR Serbia, SFR Yugoslavia (present-d...","Ivo Andric *, born in then Austria–Hungary ,...",1961,69.0
2,Vladimir Prelog,Chemistry,,1906-07-23,1998-01-07,male,http://en.wikipedia.org/wiki/Vladimir_Prelog,"Sarajevo , Bosnia and Herzegovina , then part...","Zürich , Switzerland","Vladimir Prelog *, born in then Austria–Hung...",1975,69.0
3,Institut de Droit International,Peace,Belgium,NaT,NaT,None,http://en.wikipedia.org/wiki/Institut_de_Droit...,None,None,"Institut de Droit International , Peace, 1904",1904,NaN
4,Auguste Beernaert,Peace,Belgium,1829-07-26,1912-10-06,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1045,Barry Marshall,Physiology or Medicine,Australia,1951-09-30,NaT,male,http://en.wikipedia.org/wiki/Barry_Marshall,"Kalgoorlie, Western Australia",,"Barry Marshall , Physiology or Medicine, 2005",2005,54.0
1046,Elizabeth H. Blackburn,Physiology or Medicine,,1948-11-26,NaT,female,http://en.wikipedia.org/wiki/Elizabeth_H._Blac...,"Hobart , Tasmania , Australia",,"Elizabeth H. Blackburn *, Physiology or Medici...",2009,61.0
1048,Carlos Saavedra Lamas,Peace,Argentina,1878-11-01,1959-05-05,male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936,58.0
1049,Bernardo Houssay,Physiology or Medicine,Argentina,1887-04-10,1971-09-21,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947,60.0
1051,Adolfo Pérez Esquivel,Peace,Argentina,1931-11-26,NaT,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Buenos Aires,,"Adolfo Pérez Esquivel , Peace, 1980",1980,49.0

In [200]:
df[df.award_age<=30]

,name,category,country,date_of_birth,date_of_death,gender,link,place_of_birth,place_of_death,text,year,award_age
525,William Lawrence Bragg,Physics,United Kingdom,1890-03-31,1971-07-01,male,http://en.wikipedia.org/wiki/William_Lawrence_...,"North Adelaide , South Australia","Waldringfield , Suffolk, England","William Lawrence Bragg , born in Australia , ...",1915,25.0
626,Georges J. F. Köhler,Physiology or Medicine,Switzerland,1946-04-17,1995-03-01,male,http://en.wikipedia.org/wiki/Georges_J._F._K%C...,Munich,Freiburg im Breisgau,"Georges J. F. Köhler , born in Germany (worke...",1976,30.0
725,Malala Yousafzai,Peace,Pakistan,1997-07-12,NaT,female,http://en.wikipedia.org/wiki/Malala_Yousafzai,"Mingora, Pakistan",,"Malala Yousafzai , Peace, 2014",2014,17.0